extends layout

block content
  #content
    .side.left_side
      .content_left
        .contact_left
          p <i class='material-icons'> email</i> margaux.lapierre90@gmail.com
        .contact_left
          p <i class='material-icons'> phone</i> 06 99 23 10 82
        .contact_left
          <img src='images/linkedin-icon.png'></img> <a href='https://www.linkedin.com/in/margaux-lapierre-168338b4'>Mon profil linkedin</a>
    .side.right_side
      .content_small
        h1 Margaux Lapierre, restauratrice franco-suisse
        p Bienvenue sur le site de Margaux Lapierre !
